@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white-cream: #EFEFEF;
    --purple-text: hsla(264, 11%, 26%, 0.011);
    --light-gray: #D9D9D9;
    --purple-border-icon: #4A1696;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--white-cream);
    font-family: "Libre Franklin", sans-serif;
}

body{
    height: 100%;
}


/* Página de Acesso */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-style: italic;
    font-weight: 350;
    letter-spacing: -5px;
    font-size: 48px;
    padding: 70px 20px 70px 20px;
}

header{
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.textBox{
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    height: 35px;
    width: 200px;
    border: 0px solid;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    background-color: var(--light-gray);
    text-align: center;
    font-size: 12px;
}


.reset{
    font-size: 8px;
    font-weight: bold;
    color: #423C4B;
}

.entrar{
    font-weight: 700;
    font-size: 10px;
    color: #efefef;
    background-color: #7720f5;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 4px 4px 0px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    height: 35px;
    width: 125px;
    text-align: center;
}

.midias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.line{
    width: 300px;
    height: 1px;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 0 0;
    font-size: 10px;
    letter-spacing: -1px;
}

/* Página de Cadastro */

.voltar{
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif;
    width: 100%;
    color: #000000;
    border: 0 ;
    font-style: italic;
    font-weight: 350;
    letter-spacing: -2px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

#criarUsuario{
    display: flex;
    align-items: center;
}

.criarUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0 20px 0;
}

.checkTermos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 0 10px 0;
    gap: 10px;
}

.termos{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #423C4B;
}

#termos{
    width: 10px;
    height: 10px;
}

h2{
    margin: 20px 0 40px 0;
    font-size: 20px;
    font-weight: bold;
}

#footCadastro{
    margin: 0;
    height: 100%;
}

/* Página inicial */

nav{
    width: 100%;
    background-color: #dfdfdf;

}

li{
    list-style-type: none;
    background-color: #dfdfdf;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    background-color: #dfdfdf;
    border-top: 0.5px #0000003a solid;
}

#icon{
    background-color: #dfdfdf;
}

.blank{
    height: 460px;
}